<div class="row">
  <div class="small-12 large-6 columns"><%= render partial: 'partials/twitter_embedded_timeline' %></div>
  <div class="small-12 large-6 columns"><%= render partial: 'partials/fb_page_iframe' %></div>
</div>
<%= render_debug_information %>