- if reply_editable?(item_reply)
  = form_tag url_for(action: 'show', id: @item[:id]), method: :delete, class: 'js-deletezone hidden', remote: true do
    = hidden_field_tag 'reply_id', item_reply[:id]
