- if thread_editable?(item)
  = form_tag url_for(action: 'show', id: item[:id]), method: :put, class: 'js-openzone hidden', remote: true do
    = hidden_field_tag 'issue_id', item[:id]
    = hidden_field_tag 'issue_status', 'OPEN'
