<a
  class="twitter-timeline"
  href="https://twitter.com/phateio"
  data-theme="dark"
  data-chrome="nofooter noscrollbar transparent"
  data-width="520"
  data-height="500">
</a>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>