<div class="subpage">
  <%= render_flash_messages %>
  <p>電台目前已改為使用 <a href="https://utaitedb.net/" target="_blank">utaitedb.net</a> 做為歌曲資訊來源 <a href="/issues/201" data-remote="true">[1]</a></p>
  <% if @tracks.length > 0 %>
    <%= render_niconico_track_list(@tracks) %>
  <% else %>
    <p>尚無任何歌曲上傳</p>
  <% end %>
</div>
<%= render_debug_information %>