<%= form_for lyric, url: track_lyrics_path(lyric.track), remote: true do |f| %>
  <table>
    <tr><td><%= f.text_area :text %><td><tr>
    <tr><td><%= f.submit %><td><tr>
  </table>
  <%= render_object_error_messages(lyric) %>
<% end %>