<div class="subpage">
  <%= content_tag :div, class: 'button-field' do %>
    <%= link_to 'Add new track', new_admin_track_path, class: 'button', remote: true %>
  <% end %>
  <%= render_admin_track_list(@tracks) %>
  <%= render_pagination(@tracks) %>
</div>