<div class="subpage">
  <%= audio_tag(@track_migration.szhash_url, controls: true) %>
  <%= render_admin_track_migration_form(@track_migration, edit_admin_track_migration_path(@track_migration)) %>
</div>