@import mixins

#danmakubar
  z-index: 1000
  position: absolute
  left: 8px
  bottom: 4px
  width: 100%
  pointer-events: none
  form > input
    width: 20px
    max-width: 512px
    padding: 2px 3px
    font-size: 16px
    opacity: 0.1
    background-color: rgba(0, 0, 0, 0.8)
    pointer-events: auto
    +vendor-prefix(box-sizing, border-box)
    +vendor-prefix(transition, all .5s ease)
  form > input:focus
    opacity: 1.0
    width: calc(100% - 16px)

.danmakuspan
  z-index: 10
  position: absolute
  padding: 1px
  word-break: keep-all
  white-space: pre
  text-shadow: -1px -1px 0 #666666
  line-height: 1em

.danmakuspan-offline
  text-decoration: underline
